/*adjustments made to margins*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
}
body {
    background-color: #d9dcd6;
}
/*adjustments made to padding, margins, and width*/
.header {
    padding: 15px;
    margin: 5px;
    width: auto;
    border: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*Adjustments made to text size*/
.header h1 {
    display: inline-block;
    font-size: 40px;
}
.header h1 .seo {
    color: #d9dcd6;
}
/*Adjustments made to padding and margins*/
.header div {
    padding-top: 5px;
    margin-right: 25px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header div ul {
    list-style-type: none;
}
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
p {
    font-size: 15px;
}
.hero {
    height: 800px;
    width: auto;
    margin: 5px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Grouped to clean up code */
.float-left,.float-right {
    float: left;
    margin-right: 15px;
}
/*Adjustments made to width*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Adjustments made to margins and padding*/
.benefits {
    margin: 20px;
    padding: 15px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Grouped to clean up code */
.benefit-lead,.benefit-brand,.benefit-cost {
    margin-bottom: 30px;
    color: #ffffff;
}
/* Grouped to clean up code */
.benefit-lead,.benefit-brand,.benefit-cost h3 {
    margin-bottom: 20px;
    text-align: center;
}
/* Grouped to clean up code */
.benefit-lead img,.benefit-brand img,.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 100px;
}
/* Grouped to clean up code */
.search-engine-optimization,.online-reputation-management,.social-media-marketing {
    margin: 25px;
    padding: 40px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Grouped to clean up code */
.search-engine-optimization img,.online-reputation-management img,.social-media-marketing img {
    max-height: 125px;
}
/* Grouped to clean up code */
.search-engine-optimization,.online-reputation-management,.social-media-marketing, h2 {
    margin: 25px;
    font-size: 25px;
}
.footer {
    padding: 10;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.footer h2 {
    font-size: 10px;
}
